<div class="container">
  <!-- Toolbar -->
  <!-- <img width="40" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" /> -->

  <div class="container-items">
      <form class="container-form" (submit)="submitLocation(cityName)">
        <input type="text" placeholder="City name" #cityName>
        <div class="frame">
          <button class="custom-btn btn-3" >Get weather</button>
        </div>

      </form>

    <div *ngIf="weather" class="res-container">
      <div class="name">
        <p>City: {{weather.name}}</p>
        <p>Code: {{weather.sys.country}}</p>
      </div>
      <div class="weather">
        <div *ngIf="weather">
          <img [src]=icon alt="Weather Icon">
        </div>
        <p>Temperature: {{weather.main.temp}}</p>
      </div>
      <div class="coord">
        <p>Longitude: {{weather.coord.lon}}</p>
        <p>Latitude: {{weather.coord.lat}}</p>
      </div>
      <div class="humidity">
        <p>Humidity: {{weather.main.humidity}}</p>
      </div>
      <div class="description">
        <p>Description: {{weather.weather[0].description}} </p>
      </div>
    </div>
  </div>

</div>
